<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <context-param>
        <param-name>serviceid</param-name>
        <param-value>neu://test/bux</param-value>
        <description>NeuClear id of Service</description>
    </context-param>
    <context-param>
        <param-name>title</param-name>
        <param-value>NeuClear Sample E-Currency Application</param-value>
    </context-param>
    <context-param>
        <param-name>datasource</param-name>
        <param-value>jdbc/AssetDS</param-value>
    </context-param>
    <!--<context-param>
            <param-name>configurator</param-name>
            <param-value>org.neuclear.ledger.browser.LedgerConfiguration</param-value>
        </context-param>
        <listener>
            <listener-class>org.neuclear.commons.configuration.ServletContextContainer</listener-class>
        </listener>-->
    <servlet>
        <servlet-name>browser</servlet-name>
        <servlet-class>org.neuclear.ledger.servlets.LedgerBrowserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>statement</servlet-name>
        <servlet-class>org.neuclear.ledger.servlets.LedgerStatementServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>browser</servlet-name>
        <url-pattern>/browse/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statement</servlet-name>
        <url-pattern>/statements/*</url-pattern>
    </servlet-mapping>
</web-app>